# Mapbox - necessário para o componente Map-First
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.sua_chave_publica_aqui

# API Base (Fase 2)
NEXT_PUBLIC_API_URL=http://localhost:3001

# Stripe (public key)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Ambiente
NODE_ENV=development
